@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

* {
	margin: 0;
	padding: 0;
	outline: none!important;
	text-decoration: none!important;
	box-sizing: border-box;
	line-height: initial;
	letter-spacing: initial;
	font-family: 'Roboto', sans-serif;
}

a {
    color: #3F51B5;
}

a:hover {
    color: #333333;
}

body {
	background-color: #f1f1f1;
	color: #333;
	font-family: 'Roboto', sans-serif;
}

button.log-out-client {
    height: 45px;
    border: 0;
    padding-right: 20px;
    border-radius: 4px;
    background-color: #3F51B5;
    color: rgba(255, 255, 255, 0.8);
    line-height: 43px;
    cursor: pointer;
    transition: background-color 0.4s;
}

button.log-out-client i {
    width: 45px;
    line-height: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.7);
}

button.log-out-client:hover, button.log-out-client.cancel:hover {
    background-color: #333;
}

#editor {
	width: 800px;
	margin: 50px auto 50px auto;
	padding: 7px 20px 20px 20px;
	border: 1px solid #464646;
	border-radius: 10px;
	background: #fafafa;
}

#toolbar {
	margin-left: -20px;
	margin-right: -20px;
	border-bottom: 1px solid #464646;
	padding: 8px 20px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

#page {
	padding-top: 30px;
	min-height: 600px;
	outline: none;
}

.icon {
	float: left;
	height: 30px;
	width: 40px;
	margin-right: 10px;
	background: #fafafa;
	font-size: 0.8rem;
	color: #464646;
	text-align: center;
	cursor: pointer;
}

.icon:hover {
	border-color: #3e7086;
	color: #3e7086;
}

div#editor {
    width: 100%;
    height: 400px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}

#page * {
	font-family: 'Roboto', sans-serif;
}

#page {
    min-height: initial;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 63px;
    margin-top: -53px;
    text-align: left;
	position: relative;
	z-index: 1;
}

section#toolbar {
    height: 53px;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #cfcfcf;
    background-color: #fff;
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.icon {
    height: 33px;
    background: transparent;
    opacity: 0.7;
    color: #555;
    width: 33px;
    line-height: 33px;
}

.icon:hover {
    opacity: 1;
    color: #3F51B5;
}

ul, ol {
    padding-left: 28px;
    color: #777;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
}

.cont {
	width: 600px;
	max-width: 96%;
	margin: auto;
}